.mains {
    display: flex;
    flex-wrap: wrap;
    /* background: #222; */
    width: 70%;
    height: 90%;
    margin: 0rem 12rem;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
    gap: 2rem;
    padding: 2rem;
}

h4 span {
    color: #666;
}