* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home {
    background: url('./Images/bg.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 90.5vh;
    margin-top: -10px;
    width: 100%;
}

.home1 {
    background: #333;
    width: 100%;
    height: 100%;
}

.home1>h1 {
    color: #fff;
    font-size: 5rem;
    font-weight: 600;
    font-style: italic;
    animation: animate 1.5s infinite alternate;
}

.home1>img {
    width: 50%;
    margin-top: 2rem;
}

/* text shadow :x-axis  y-axis blur range color*/

@keyframes animate {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px #0fa,
            0 0 80px #0fa,
            0 0 90px #0fa,
            0 0 100px #0fa,
            0 0 150px #0fa;

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}

.text-2 {
    color: #fff;
    font-size: 2rem;
    font-weight: 600;
    font-style: italic;
    animation: animate-1 1.5s infinite alternate;
}

@keyframes animate-1 {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {

        text-shadow:
            0 0 4px #fff,
            0 0 11px #fff,
            0 0 19px #fff,
            0 0 40px rgb(228, 82, 241),
            0 0 80px rgb(228, 82, 241),
            0 0 90px rgb(228, 82, 241),
            0 0 100px rgb(228, 82, 241),
            0 0 150px rgb(228, 82, 241);

    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }

}

.card img {
    width: "10rem";
    height: "10rem";
    margin-left: "4rem";
    margin-top: "0.5rem";
    border-radius: "50%";
}

.home1 .profiles {
    width: 600px;
    height: 400px;
    background: #0fa;
    margin-left: 15rem;
}

.home1 .profiles img {
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
    margin: 1rem 15rem;
}

.home1 .profiles .data {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    gap: 1rem;
}

.home1 .profiles .data .datum {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}